.navbar{
     background:linear-gradient(to right, #1A0C39 , #5A2A4D); 
     opacity: 0.9; 
    text-align:center;
}
.todobtn{
    color:white;
    background:linear-gradient(to right, #1A0C39 , #5A2A4D);
    border-radius: 20px; 
}
.todobtn:hover{
    background:white;
   border:1px solid #562A4E; 
   cursor: pointer;
   border-radius:40px;
   color:#1A0C39;
   width:120px;
}
.todotext{
    color:#5A2A4D;
    padding-left: 100px;
}
.todofc{
    color:#1A0C39;
    border:1px solid #5A2A4D;
    background-color: white;
    border-radius:0px;
}
.collection{
    width:1000px !important;
    opacity:0.8;
}
/* .main{
    background-image: url("../bg.jpg");
    background-repeat: no-repeat;} */